.about__dropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    &--title {
        color: $white;
        margin-left: 10px;
    }
    &--up {
        margin-right: 10px;
        .dropDownUp {
            color: $white;
            font-size: 25px;
        }
    }
}