.about__dropDown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    &--title {
        color: $white;
        margin-left: 10px;
    }
    &--up {
        margin-right: 10px;
        .dropDownUp {
            color: $white;
            font-size: 25px;
            cursor: pointer;
        }
    }
}

/* Animations */
.openDropdown {
    transform: rotate(-180deg);
    transition: all 0.5s;
}

.closeDropdown {
    transform: rotate(0);
    transition: transform 0.5s;
}




@media only screen and (max-width: 500px) {
    .about__dropDown {
        &--title {
            font-size: 13px;
        }
    }
}
