.about__wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    &--text {
        width: 69%;
        margin: 0 auto;
        background-color: $second-color;
        padding: 20px 3%;
        border-radius: 0 0 10px 10px;
    }
}