
.carrusel__wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;

    &--gallery {
        width: 100%;
        object-fit: cover;
        height: 415px;
        border-radius: 20px;
    }
    &--arrowl {
        position: absolute;
        top: 50%;
        left: 10px;
        .arrowLeft {
            font-size: 50px;
            color: $white;
        }
    }
    &--arrowr {
        position: absolute;
        top: 50%;
        right: 10px;
        .arrowRight {
            font-size: 50px;
            color: $white;
        }
    }
}

.property__wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    .property__bloc1 {
        display: flex;
        justify-content: left;
        text-align: left;
        width: 55%;
        .property__details {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            .property__header {
                width: 100%;
                &--title {
                    margin-bottom: 5px;
                    color: $main-color;
                    font-weight: 500;
                }
                &--subtitle {
                    color: $black;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
            .property__tags {
                display: flex;
                gap: 10px;
                margin-top: 15px;
                margin-bottom: 15px;
                .property__tag--tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $main-color;
                    color: $white;
                    width: auto;
                    border-radius: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    height: 30px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .property__dropdown {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $main-color;
                width: 90%;
                height: 50px;
                border-radius: 10px;
                margin-top: 15px;

                &--title {
                    margin-left: 10px;
                    color: $white;
                    font-weight: 500;
                }
                &--down {
                    margin-right: 10px;
                    color: $white;
                }
            }
        }
    }

    .property__bloc2 {
        width: 45%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .property__review {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            gap: 10px;
            &--title{
                text-align: left;
                color: $main-color;
                font-size: 16px;
                font-weight: 400;
            }
            &--profil {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: fill;
            }
        }
        .property__review--rating {
            display: flex;
            justify-content: flex-end;
            gap: 5px;

            .star {
                color: $main-color;
            }

            .star2 {
                color: $starColor;
            }
        }
    }
}
