
.carrusel__wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;
    border-radius: 20px;

    &--gallery {
        width: 100%;
        object-fit: cover;
        height: 415px;
        border-radius: 20px;
    }
    &--arrowl {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        .arrowLeft {
            font-size: 50px;
            color: $white;
        }
    }
    &--arrowr {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        .arrowRight {
            font-size: 50px;
            color: $white;
        }
    }
    &--number {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
    }
}

.property__wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    .property__bloc1 {
        display: flex;
        justify-content: left;
        text-align: left;
        width: 55%;
        height: 163px;

        .property__details {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            .property__header {
                width: 100%;
                height: 73px;
                &--title {
                    margin-bottom: 5px;
                    color: $main-color;
                    font-weight: 500;
                }
                &--subtitle {
                    color: $black;
                    font-weight: 600;
                    font-size: 16px;
                }
            }
            .property__tags {
                display: flex;
                gap: 10px;
                margin-top: 30px;
                margin-bottom: 30px;
                .property__tag--tag {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $main-color;
                    color: $white;
                    width: auto;
                    border-radius: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    height: 30px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            .property__dropdown {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $main-color;
                width: 90%;
                height: 50px;
                border-radius: 10px;
                margin-top: 15px;

                &--title {
                    margin-left: 10px;
                    color: $white;
                    font-weight: 500;
                }
                &--down {
                    margin-right: 10px;
                    color: $white;
                }
            }
        }
    }

    .property__bloc2 {
        width: 45%;
        height: 163px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .property__review {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            gap: 10px;
            height: 73px;
            margin-bottom: 0;
            &--title{
                text-align: left;
                color: $main-color;
                font-size: 16px;
                font-weight: 400;
            }
            &--profil {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                object-fit: fill;
            }
        }
        .property__review--rating {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5px;
            height: 30px;
            margin-top: 30px;
            margin-bottom: 30px;

            .star {
                color: $main-color;
            }

            .star2 {
                color: $starColor;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .wrapper {
        .carrusel__wrapper {
            img {
                height: 265px;
            }
        }
    }
    .property__wrapper {
        display: flex;
        flex-direction: column;
        .property__bloc1 {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 0;
            height: auto;
            .property__details {
                .property__header {
                    &--title {
                        font-size: 18px;
                    }
                    .property__header--subtitle {
                        font-size: 12px;
                    }
                }
                .property__tags {
                    flex-wrap: wrap;
                    margin-top: 5px;
                    .property__tag--tag {
                        font-size: 10px;
                        height: 23px;
                    }
                }

            }
        }
    }
    .property__bloc2 {
        display: flex!important;
        flex-direction: row-reverse!important;
        justify-content: flex-start!important;
        align-items: center!important;
        width: 100%!important;
        height: 60px!important;
        margin-top: -25px;
        .property__review {
            &--title {
                font-size: 12px!important;
            }
            &--profil {
                height: 32px!important;
                width: 32px!important;
            }
            &--rating .star, &--rating .star2 {
                height: 14px!important;
                width: 14px!important;
            }
        }
    }
}
