footer {
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 50px;
    img {
        width: 122px;
        height: 40px;
    }
    div {
        color: $white;
    }
}

@media only screen and (max-width: 768px) {
    footer{
        gap: 25px;
        div {
            width: 100px;
            font-size: 12px;
            text-align: center;

        }
    }
}

